<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List</title>


      <th:block th:insert="Base :: bootstrap-css"></th:block>

    <!--Google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Belgrano|Flamenco&display=swap" rel="stylesheet">

            </head>
<body>

<div class="container-fluid mt-3">
<div th:insert="Base :: navbar"></div>




<br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>

    <div class="jumbotron text-center">
<a href="/add">Add Message</a><br />
<table align="center">
    <tr>
        <th>Title</th>

        <th>Posted Date</th>
        <th>Posted By</th>
        <th>Actions</th>
    </tr>
    <tr th:each="message : ${messages}">
        <td th:text="${message.title}"></td>
        <td th:text="${message.postedDate}"></td>
        <td th:text="${message.postedBy}"></td>

        <td>
            <a th:href="@{/update/{id}(id=${message.id})}">Update</a>-
            <a th:href="@{/detail/{id}(id=${message.id})}">Details</a> -
            <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
        </td>
    </tr>

</table>
    </div>
</div>
</body>
</html>